.guest-dashboard {
  @extend .manager-dashboard;
}

.guest-log {
  @extend .managers-log;
  min-height: 10vh;
  margin-top: 0;
  max-height: 50vh;
  overflow: scroll;
  
  .room-card {
    border: solid chartreuse 3px;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
  }

  p {
    @extend .manager-date;
    line-height: .5em;
  }

  // .apology {
  //   line-height: 1.2em;
  //   height: auto;
  // }
}

.guest-spendings {
  @extend .manager-date;
  margin-bottom: 0;
}

.guest-controls {
  @extend .find-guest;

  button {
    width: 324px;
    margin-bottom: .9em;
    outline: 0;
    box-shadow: -5px 5px 15px rgb(0, 0, 0);
  }
}

